<a href="https://colab.research.google.com/github/herdinghadrosaurs/CIS2004-dataset-analysis/blob/main/CIS2004_Dataset_Explore_%3CCove_Beregszaszi%3E.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd


df = pd.read_csv('dinoDatasetCSV.csv')
df.head()

,scientific_name,common_name,meaning,diet,length_m,weight_kg,height_m,locomotion,geological_period,lived_in,behavior_notes,first_discovered,fossil_location,notable_features,intelligence_level,source_link,row_index
0,Abelisaurus,Abelisaurus,Abel's lizard,Carnivore,7.0,1500.0,2.4,Bipedal,Late Cretaceous,Argentina,Large theropod,1985,Argentina,Short arms,Medium,https://en.wikipedia.org/wiki/Abelisaurus,0
1,Abrictosaurus,Abrictosaurus,Wakeful lizard,Herbivore,1.5,15.0,0.5,Bipedal,Early Jurassic,South Africa,Small herbivore,1974,South Africa,Unique teeth,Medium,https://en.wikipedia.org/wiki/Abrictosaurus,1
2,Abrosaurus,Abrosaurus,Delicate lizard,Herbivore,9.0,2000.0,4.5,Quadrupedal,Middle Jurassic,China,Delicate skull,1959,China,Delicate skull,Medium,https://en.wikipedia.org/wiki/Abrosaurus,2
3,Abydosaurus,Abydosaurus,Abydos lizard,Herbivore,18.0,30000.0,6.0,Quadrupedal,Early Cretaceous,USA,Basal sauropod,2010,USA,Complete skull,Medium,https://en.wikipedia.org/wiki/Abydosaurus,3
4,Acantholipan,Acantholipan,Spiny shield,Herbivore,5.0,2500.0,1.5,Quadrupedal,Late Cretaceous,Mexico,Armored nodosaur,2011,Mexico,Clubless armored tail,Medium,https://en.wikipedia.org/wiki/Acantholipan,4

In [ ]:
df.shape

(1542, 17)

In [ ]:
df.columns

Index(['scientific_name', 'common_name', 'meaning', 'diet', 'length_m',
       'weight_kg', 'height_m', 'locomotion', 'geological_period', 'lived_in',
       'behavior_notes', 'first_discovered', 'fossil_location',
       'notable_features', 'intelligence_level', 'source_link', 'row_index'],
      dtype='object')

In [ ]:
df.dtypes

scientific_name        object
common_name            object
meaning                object
diet                   object
length_m              float64
weight_kg             float64
height_m              float64
locomotion             object
geological_period      object
lived_in               object
behavior_notes         object
first_discovered       object
fossil_location        object
notable_features       object
intelligence_level     object
source_link            object
row_index               int64
dtype: object

In [ ]:
df['length_m'].isna().sum()

np.int64(39)

In [ ]:
df.groupby("diet").size()

diet
?                         1
Carnivore               503
Carnivore (disputed)      1
Ceric unknown             1
Diet                      1
Herbivore               971
Insectivore               1
Omnivore                 53
Possibly carnivore        1
Tiny herbivore            1
Unknown                   8
dtype: int64